<%= form_with(model: syllable, local: true) do |form| %>
  <% if syllable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(syllable.errors.count, "error") %> prohibited this syllable from being saved:</h2>

      <ul>
      <% syllable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :roman %>
    <%= form.text_field :roman %>
  </div>

  <div class="field">
    <%= form.label :rune %>
    <%= form.text_field :rune %>
  </div>

  <div class="field">
    <%= form.label :phonologie %>
    <%= form.text_field :phonologie %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
