<p id="notice"><%= notice %></p>

<p>
  <strong>Roman:</strong>
  <%= @syllable.roman %>
</p>

<p>
  <strong>Rune:</strong>
  <%= @syllable.rune %>
</p>

<p>
  <strong>Phonologie:</strong>
  <%= @syllable.phonologie %>
</p>

<%= link_to 'Edit', edit_syllable_path(@syllable) %> |
<%= link_to 'Back', syllables_path %>
