<p id="notice"><%= notice %></p>

<p>
  <strong>Roman:</strong>
  <%= @language_concept.roman %>
</p>

<p>
  <strong>Run:</strong>
  <%= @language_concept.run %>
</p>

<p>
  <strong>Phonologie:</strong>
  <%= @language_concept.phonologie %>
</p>

<p>
  <strong>Description:</strong>
  <%= @language_concept.description %>
</p>

<%= link_to 'Edit', edit_language_concept_path(@language_concept) %> |
<%= link_to 'Back', language_concepts_path %>
